*.dae filter=lfs diff=lfs merge=lfs -text
sim_ws/src/tutorials/tutorial_gazebo/models/magpie360/meshes/magpie360_noprop.dae filter=lfs diff=lfs merge=lfs -text
PX4-Autopilot/.git_backup/**/*.pack filter=lfs diff=lfs merge=lfs -text
